
/*
 Dashboard CSS from Keen IO Dashboards
 (https://github.com/keen/dashboards)
*/

body.application {
  background: #f2f2f2;
  padding: 70px 20px 0;
}
body.application > .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
body.application div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
body.application div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

.navbar-inverse .navbar-nav > li > a,
.navbar .navbar-brand {
  text-decoration: none;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 16px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

/*
 CSS for handling flexbox layout
*/

.dashboard-row-orientation {
  display: flex;
  flex-direction: column;
}

.dashboard-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.dashboard-column-orientation {
  display: flex;
  flex-direction: row;
}

.dashboard-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chart-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.chart-stage {
  flex: 1;
  position: relative;
}

.chart-shim {
  position: absolute;
  left: 8px; top: 8px; right: 8px; bottom: 8px;
}

.chart-shim>p:empty {
  display: none;
}

.chart-stage img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-row-orientation .chart-stage .html-widget-static-bound {
  width: 100% !important;
  height: 100% !important;

}

.dashboard-column-orientation .chart-stage .html-widget-static-bound {
  width: 100% !important;
  height: 100% !important;
}




