
/*
 Dashboard CSS from Keen IO Dashboards
 (https://github.com/keen/dashboards)
*/

body.application {
  background: #f2f2f2;
  padding: 70px 20px 0;
}
body.application > .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
body.application div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
body.application div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

.navbar-inverse .navbar-nav > li > a,
.navbar .navbar-brand {
  text-decoration: none;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 16px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

/*
 CSS to tweak default sizing of grid elements
*/
body.application > .container-fluid {
  padding-left: 4px;
  padding-right: 4px;
}

div .grid-element {
  padding-left: 8px;
  padding-right: 8px;
}

/*
 CSS for handling dynamic sizing of htmlwidgets and other
 content commonly produced within R Markdown documents
*/

.chart-stage img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.html-widget-static-bound {
  width: 100% !important;
}

.flex-direction-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-direction-column {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.row-eq-height {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.col-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}


