
/*
 Dashboard CSS from Keen IO Dashboards
 (https://github.com/keen/dashboards)
*/

body {
  background: #f2f2f2;
  padding: 60px 0 0 8px;
}

body hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

.navbar-inverse .navbar-nav > li > a,
.navbar .navbar-brand {
  text-decoration: none;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 8px;
  margin-right: 8px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

/*
 CSS for handling flexbox layout
*/

#dashboard-container {

}

.tab-content>.section.level1.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-row-orientation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard-row {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dashboard-column-orientation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dashboard-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart-stage {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.chart-shim {
  position: absolute;
  left: 8px; top: 8px; right: 8px; bottom: 8px;
}

.chart-wrapper form {
  padding-left: 5px;
  padding-right: 5px;
}

.shiny-input-container label {
  font-weight: normal;
}

.chart-stage .html-widget {
  width: 100% !important;
  height: 100% !important;
}

.chart-stage .html-widget-static-bound {
  width: 100% !important;
  height: 100% !important;
}

.chart-stage .shiny-bound-output {
  width: 100% !important;
  height: 100% !important;
}

/* Omit display of empty paragraphs */

.chart-shim>p:empty {
  display: none;
}

.chart-stage>p:empty {
  display: none;
}

/* Omit display of special knitr options div*/

.chart-stage .knitr-options {
  display: none;
}

/* Automatically resizing images */

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.image-container img {
  opacity: 0;
}


.section.sidebar {
  position: fixed;
  top: 51px; /* overridden via body_padding variable */
  left: 0;
  bottom: 0;
  width: 300px; /* overridden via sidebar_width variable */
  border-right: 1px solid #e2e2e2;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}



