body {
  padding-top: 75px;
}

.section.sidebar {
  top: 66px;
  background-color: rgba(255, 255, 255, 0.9);
}

.value-box {
  color: inherit;
}

.storyboard-nav .sbframelist ul li.active {
  background-color: rgba(69, 130, 236, 0.7);
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: rgba(69, 130, 236, 0.7);
}
