body {
  padding-top: 73px;
}

.section.sidebar {
  top: 64px;
  background-color: rgba(33, 150, 243, 0.15);
}

.value-box {
  color: inherit;
}

.bg-primary {
  background-color: rgba(33, 150, 243, 0.35);
}
