body {
  padding-top: 60px;
}

.section.sidebar {
  top: 51px;
  background-color: rgba(39, 128, 227, 0.1);
}

.value-box {
  color: #f9f9f9;
}

.bg-primary {
  background-color: rgba(39, 128, 227, 0.7);
}

.storyboard-nav .sbframelist ul li.active {
  background-color: rgba(39, 128, 227, 0.7);
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: rgba(39, 128, 227, 0.7);
}

.bg-info {
  background-color: rgba(153, 84, 187, 0.7);
}

.bg-warning {
  background-color: rgba(255, 117, 24, 0.7);
}

.bg-danger {
  background-color: rgba(255, 0, 57, 0.7);
}

.bg-success {
  background-color: rgba(63, 182, 24, 0.7);
}

.chart-title {
  font-weight: 500;
}

.nav-tabs-custom > .nav-tabs > li > a,
.nav-tabs-custom > .nav-tabs > li > a:active {
  font-weight: 500;
}

