body {
  padding-top: 61px;
}

.section.sidebar {
  top: 52px;
  background-color: rgba(68, 110, 155, 0.1);
}

.value-box {
  color: inherit;
}

.storyboard-nav .sbframelist ul li.active {
   background-color: rgba(68, 110, 155, 0.7);
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: rgba(68, 110, 155, 0.7);
}
