body {
  padding-top: 60px;
}

.section.sidebar {
  top: 51px;
  background-color: rgba(39, 128, 227, 0.1);
}

.value-box {
  color: #f9f9f9;
}

.storyboard-nav .sbframelist ul li.active {
  background-color: rgba(39, 128, 227, 0.7);
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: rgba(39, 128, 227, 0.7);
}

.chart-title {
  font-weight: 500;
}

.nav-tabs-custom > .nav-tabs > li > a,
.nav-tabs-custom > .nav-tabs > li > a:active {
  font-weight: 500;
}

