/*
  CSS for flexdashboard.js' use of Sly(). The sizing/position of this CSS needs to be
  applied _before_ flexdashboard.js initializes, which is why this CSS has been pulled
  out from flexdashboard.scss and inlined in the document's head.
*/

.storyboard-nav button {
  background: transparent;
  border: 0;
  opacity: .3;
  outline: none;
  padding: 0;
}

.storyboard-nav button:hover,
.storyboard-nav button:hover {
  opacity: .5;
}

.storyboard-nav button:disabled,
.storyboard-nav button:disabled {
  opacity: .1;
}

.storyboard-nav .sbnext,
.storyboard-nav .sbprev {
  float: left;
  width: 2%;
  height: 120px;
}

.storyboard-nav .sbprev {
  text-align: left;
  width: 2%;
}

.storyboard-nav .sbnext {
  float: right;
  text-align: right;
  margin-right: 8px;
}

.storyboard-nav .sbframelist {
  margin: 0 auto;
  width: 94%;
  height: 120px;
  overflow: hidden;
  text-shadow: none;
  margin-bottom: 8px;
}

.storyboard-nav .sbframelist ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.storyboard-nav .sbframelist ul li {
  float: left;
  width: 270px;
  height: 100%;
  padding: 10px 10px 10px 10px;
  margin-right: 8px;
  text-align: left;
  cursor: pointer;
}

.storyboard-nav .sbframelist ul li:last-child {
  margin-right: 0px;
}

.sbframe-commentary {
  width: 300px;
}

.sbframe-commentary ul {
  padding-left: 22px;
}

.sbframe.active {
  display: flex;
}

.sbframe:not(.active) {
  display: none;
}
