body {
  padding-top: 63px;
}

.section.sidebar {
  top: 54px;
  background-color: rgba(255, 255, 255, 0.9);
}

.value-box {
  color: #f9f9f9;
}

.storyboard-nav .sbframelist ul li.active {
  background-color: rgba(21, 140, 186, 0.7);
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
  padding-bottom: 5px;
  margin-top: 0;
}

.nav-tabs-custom > .nav-tabs > li > a {
  border-top-color: white;
  border-right-color: white;
  border-left-color: white;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: rgba(21, 140, 186, 0.7);
}
