body {
  padding-top: 54px;
}

.section.sidebar {
  top: 45px;
  background-color: rgba(0, 140, 186, 0.1);
}

.value-box {
  color: inherit;
}

.storyboard-nav .sbframelist ul li.active {
  background-color: rgba(0, 140, 186, 0.7);
}

.nav-tabs-custom > .nav-tabs > li.active {
  background-color: rgba(0, 140, 186, 0.7);
}

