body {
  padding-top: 70px;
}

.section.sidebar {
  top: 61px;
  background-color: rgba(147, 197, 75, 0.1);
}

.value-box {
  color: inherit;
}

.storyboard-nav .sbframelist ul li.active {
  background-color: rgba(50, 93, 136, 0.7);
}

.nav-tabs-custom > .nav-tabs > li > a {
  border-top-color: white;
  border-right-color: white;
  border-left-color: white;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: rgba(50, 93, 136, 0.7);
}



