body {
  padding-top: 69px;
}

.section.sidebar {
  top: 60px;
  background-color: rgba(24, 188, 156, 0.1);
}

.value-box {
  color: #fff;
}

.storyboard-nav .sbframelist ul li.active {
  background-color: rgba(44, 62, 80, 0.7);
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: rgba(44, 62, 80, 0.7);
}
