.value-box-primary, .bg-primary {
  background-color: rgba(44, 62, 80, 0.7);
}

.value-box-info, .bg-info {
  background-color: rgba(52, 152, 219, 0.7);
}

.value-box-success, .bg-success {
  background-color: rgba(24, 188, 156, 0.7);
}

.value-box-warning, .bg-warning {
  background-color: rgba(243, 156, 18, 0.7);
}

.value-box-danger, .bg-danger {
  background-color: rgba(231, 76, 60, 0.7);
}
