body {
  padding-top: 60px;
}

.section.sidebar {
  top: 51px;
  background-color: rgba(119, 41, 83, 0.1);
}

.value-box {
  color: inherit;
}

.storyboard-nav .sbframelist ul li.active {
  background-color: rgba(221, 72, 20, 0.7);
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: rgba(221, 72, 20, 1);
}
